{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block content %}
    <div class="container mt-4 mb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-3">
                <h2>Filter</h2>
                {% if facets is defined and facets|length > 0 %}
                    <div class="filters">
                        {% for facet in facets %}
                            <div class="mb-3">
                                <strong>{{ facet.fieldLabel|default(facet.fieldName) }}</strong>
                                {% if facet.type == 'select' %}
                                    <ul class="list-unstyled ms-2">
                                        {% for value in attribute(facet, 'values') %}
                                            <li>
                                                <a href="?search={{ searchWord }}&filter[{{ facet.fieldName|url_encode }}]={{ value.name }}"
                                                   class="text-decoration-none {% if value.checked %}fw-bold text-primary{% endif %}">
                                                    {{ value.name }} ({{ value.count }})
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% elseif facet.type == 'category' %}
                                    <ul class="list-unstyled ms-2">
                                        {% for cat, catData in attribute(facet, 'categories') %}
                                            {% set catPath = cat %}
                                            <li>
                                                <a href="?search={{ searchWord }}&filter[{{ facet.fieldName|url_encode }}]={{ catPath|replace({' ': '+'})|url_encode }}"
                                                   class="text-decoration-none {% if catData.checked %}fw-bold text-primary{% endif %}">
                                                    {{ cat }} ({{ catData.count }})
                                                </a>
                                                {% if catData.childs is defined and catData.childs|length > 0 %}
                                                    <ul class="list-unstyled ms-3">
                                                        {% for child, childData in catData.childs %}
                                                            {% set childPath = catPath ~ '+>+' ~ child %}
                                                            <li>
                                                                <a href="?search={{ searchWord }}&filter[{{ facet.fieldName|url_encode }}]={{ childPath|replace({' ': '+'})|url_encode }}"
                                                                   class="text-decoration-none {% if childData.checked %}fw-bold text-primary{% endif %}">
                                                                    {{ child }} ({{ childData.count }})
                                                                </a>
                                                                {% if childData.childs is defined and childData.childs|length > 0 %}
                                                                    <ul class="list-unstyled ms-3">
                                                                        {% for subchild, subchildData in childData.childs %}
                                                                            {% set subchildPath = childPath ~ '+>+' ~ subchild %}
                                                                            <li>
                                                                                <a href="?search={{ searchWord }}&filter[{{ facet.fieldName|url_encode }}]={{ subchildPath|replace({' ': '+'})|url_encode }}"
                                                                                   class="text-decoration-none {% if subchildData.checked %}fw-bold text-primary{% endif %}">
                                                                                    {{ subchild }} ({{ subchildData.count }})
                                                                                </a>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% elseif facet.type == 'range' %}
                                    <div class="ms-2">
                                        <form method="get">
                                            <input type="hidden" name="search" value="{{ searchWord }}" />
                                            <label>Min: <input type="number" name="filter[{{ facet.fieldName|url_encode }}][min]" value="{{ facet.min|default('') }}" class="form-control form-control-sm d-inline w-auto" /></label>
                                            <label>Max: <input type="number" name="filter[{{ facet.fieldName|url_encode }}][max]" value="{{ facet.max|default('') }}" class="form-control form-control-sm d-inline w-auto" /></label>
                                            <button type="submit" class="btn btn-sm btn-outline-primary ms-2">Anwenden</button>
                                        </form>
                                    </div>
                                {% elseif facet.type == 'rating' %}
                                    <ul class="list-unstyled ms-2">
                                        {% for value in attribute(facet, 'ratings') %}
                                            <li>
                                                <a href="?search={{ searchWord }}&filter[{{ facet.fieldName|url_encode }}]={{ value.name }}"
                                                   class="text-decoration-none {% if value.checked %}fw-bold text-primary{% endif %}">
                                                    {{ value.name }} Sterne ({{ value.count }})
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Keine Filter verfügbar.</p>
                {% endif %}

            </div>
            <div class="col-12 col-lg-9">
                <h1>Suchergebnisse für {{ searchWord }}</h1>
                <div class="row flex-column flex-md-row align-items-end justify-content-end gap-2 gap-md-0 mb-5">
                    <div class="products-grid">
                        {% for product in products %}
                            <div>{{ component('sylius_shop:product:card', { product: product, template: hookable_metadata.configuration.product_template|default('@SyliusShop/product/common/card.html.twig') }) }}</div>
                        {% else %}
                            <div style="grid-column: 1 / -1; text-align: center; color: #888;">Keine Produkte gefunden.
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination justify-content-center mt-4">
            {# Previous Button #}
            <li class="page-item{% if currentPage == 1 %} disabled{% endif %}">
                <a class="page-link" href="?search={{ searchWord }}&page={{ currentPage - 1 }}" tabindex="-1">Previous</a>
            </li>

            {# Pages #}
            {% for page in 1..maxPages %}
                <li class="page-item{% if page == currentPage %} active{% endif %}">
                    {% if page == currentPage %}
                        <span class="page-link">{{ page }}</span>
                    {% else %}
                        <a class="page-link" href="?search={{ searchWord }}&page={{ page }}">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}

            {# Next Button #}
            <li class="page-item{% if currentPage == maxPages %} disabled{% endif %}">
                <a class="page-link" href="?search={{ searchWord }}&page={{ currentPage + 1 }}">Next</a>
            </li>
        </ul>
    </div>

{% endblock %}